<%= form_with(model: kidney, local: true) do |form| %>
  <% if kidney.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kidney.errors.count, "error") %> prohibited this kidney from being saved:</h2>

      <ul>
      <% kidney.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :blood_group %>
    <%= form.text_field :blood_group %>
  </div>

  <div class="field">
    <%= form.label :fresh_harvest %>
    <%= form.check_box :fresh_harvest %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
