<p id="notice"><%= notice %></p>

<h1>Kidneys</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Description</th>
      <th>Blood group</th>
      <th>Fresh harvest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kidneys.each do |kidney| %>
      <tr>
        <td><%= kidney.name %></td>
        <td><%= kidney.value %></td>
        <td><%= kidney.description %></td>
        <td><%= kidney.blood_group %></td>
        <td><%= kidney.fresh_harvest %></td>
        <td><%= link_to 'Show', kidney %></td>
        <td><%= link_to 'Edit', edit_kidney_path(kidney) %></td>
        <!-- <td><%= link_to 'Destroy', kidney, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kidney', new_kidney_path %>
