<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kidney.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @kidney.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kidney.description %>
</p>

<p>
  <strong>Blood group:</strong>
  <%= @kidney.blood_group %>
</p>

<p>
  <strong>Fresh harvest:</strong>
  <%= @kidney.fresh_harvest %>
</p>

<%= link_to 'Edit', edit_kidney_path(@kidney) %> |
<%= link_to 'Back', kidneys_path %>
