<!DOCTYPE html>
<html>
  <head>
    <title>KidneysRental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main_page">
      <%= render_navigation if user_signed_in? %>

      <%= yield %>
    </div>
  </body>
</html>
